---
title: 2.Angular and CLI
date: 2019-09-21 00:00:00 Z
categories:
- AngularTutorial
tags:
- learning
- Installation
image: https://girishgodage.github.io/img/angular_logo.png
author: Girish Godage
layout: posts
prevurl: https://girishgodage.github.io/blog/AngularInstall
nexturl: https://girishgodage.github.io/blog/GettingStarted
discussion_id: 2019-09-20-InstallerLesson-2
youtubeId: PerqZ-YR9Co
---

<section class="tutorial1">
    <h2>Goal</h2>
    <p> The goal of following tutorial is to guide you on how to install Angular on your local machine.
        This require Node.js and npm installed on your machine. If you don't have it or don't know if you have, please
        check <a href="https://girishgodage.github.io/blog/AngularInstall">previous tutorial</a>. If you
        already have it we can start installing Angular! </p>
    <h2>Angular and Angular CLI</h2>
    <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google
        and by a community of individuals and corporations. Angular Command Line Interface (CLI) is a tool which helps
        you to scaffold and build angular apps using modules. It also handles all common tedious task for you. We will
        show it on the example but first - let's install.</p>
    <h2>1. Installation </h2>
    <p>Open terminal/comand prompt and run:</p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">npm install <span class="token operator">-</span>g @angular<span class="token operator">/</span>cli</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <p>Next we will install Typescript - type script is a superset of JS, we will learn more about that in next lessons,
        for now just note that it's required by Angular</p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">npm i <span class="token operator">-</span>g typescript</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <h2>2. Verify installation </h2>
    <p>Run following command in comand prompt: </p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">ng <span class="token operator">--</span>version</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <p>You should see current version of Angular, CLI and Typescript:</p>
    <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/img/angular/tutorials/angular-cli/img/01.png"
        alt="hello world">
    <h2>3. First Angular app </h2>
    <p>Since everything is ready we are ready to create our first Angular app. Open <command> prompt and run following
            command:
    </p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">ng <span class="token keyword">new</span> <span class="token class-name">hello</span><span class="token operator">-</span>world</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <p>Expected output:</p>
    <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/img/angular/tutorials/angular-cli/img/02.png"
        alt="new new cli">
    <p>Now let's navigate to our new project:</p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">cd hello<span class="token operator">-</span>world</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <p>and run:</p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">ng serve <span class="token operator">-</span>o</code></pre>
        <div class="toolbar">

        </div>
    </div>
    <p>Expected output:</p>
    <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/img/angular/tutorials/angular-cli/img/03.png"
        alt="new serve">
    <p>Our browser should automatically open (cause we added <code>-o</code> option) new window/card in our default web
        browser and display following content. If that didn't happen, open a browser manually and navigate to </p>
    <div class="code-toolbar">
        <pre
            class="code-toolbar language-typescript"><code class=" language-typescript">http<span class="token punctuation">:</span><span class="token operator">/</span><span class="token regex">/localhost:4200/</span></code></pre>
        <div class="toolbar">
        </div>
    </div>
    <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/img/angular/tutorials/angular-cli/img/04.png"
        alt="new serve">
    <p>Now let's get back to our current project.<strong>Click NEXT LESSON</strong> button to proceed further.</p>

    <H4>Watch the youtube video for this lesson</H4>
    {% include youtubePlayer.html id=page.youtubeId %}
</section>
{% include blogslide.html %}