<!-- About-->
<section id="about" class="bg-gradient about-section">
    <div class="container">
        <header class="text-center">
            <h2 data-animate="fadeInRight" class="title">About me</h2>
        </header>
        <div class="lead">
            <div data-animate="fadeInUp" class="col-sm-4 mx-auto mt-195"><img src="{{site.url}}{{site.baseurl}}/img/logo.jpg"
                    alt="This is me - Girish Godage" class="image rounded-circle img-fluid"></div>
            <div data-animate="fadeInUp" class="col-lg-20">
                <p>
                    <center>"Here I will talk about myself in the third person."</center>
                </p>
                <p>Girish Godage, Experienced change management professional with successful track record of delivering
                    high-profile, complex change programs in IT Application & Infrastructure. Vast practical knowledge
                    of how to drive engagement and implement change that meets best practice goals and maximizes ROI.
                    Areas of expertise and passions include strategy, business transformation, governance, process and
                    organizational design, program, and project management.</p>
            </div>
        </div>
    </div>
</section>