<!--Section: Lesson UI-->
<section class="text-center">
    <hr>
   
    <div class="row" >
        <div class="col-lg-4 col-md-6 col-sm-6">
            <a target="_blank" href="{{page.prevurl}}" class="btn  btn-sm" id="round-button" 
                >
                <i class="fas fa-arrow-left mr-2"></i>Previous Lesson
            </a>
        </div>
     
        <div class="col-lg-4 col-md-6 col-sm-6" >
            <a target="_blank" href="{{page.nexturl}}" class="btn btn-sm" id="round-button"
                 >Next Lesson
                <i class="fas fa-arrow-right ml-2"></i>
            </a>
        </div>       
    </div>

</section>