{% for category in site.categories reversed %}

<section id="{{ category[0] }}">
<h3 class="category-head">{{ category[0] }}</h3>

<div class="row" >
{% for post in category[1] reversed %}


{% if forloop.index == 7 %}
    <!--<div class="arrow-down" data-toggle="collapse" data-target="#demo" onclick="this.classList.toggle('active')"></div>-->
    <div class="col my-2">
       <center> <button  class="arrow-down" data-toggle="collapse" data-target="#demo" onclick="this.classList.toggle('active')"></button></center>
        <!-- <button  data-toggle="collapse" data-target="#demo" onclick="this.classList.toggle('active')"> See more <i class="fa fa-arrow-circle-down" style="font-size:36px"></i> </button> -->
    </div>
    <div id="demo" class="collapse">
     <div class="row"  style="padding-left: 15px;padding-right: 15px;">   
{% endif %}

<div style="font-family: 'Poppins', sans-serif;" id="card-main" class="col-lg-4 col-md-6 col-sm-6">
    <a style="text-decoration: none;" href="{{site.url}}{{site.baseurl}}{{post.url}}">
        <!-- Card -->
        <div class="card h-100" >
            <!-- Card image -->
            <img class="card-img" height="240" src="{{post.image}}"
                onError="this.onerror=null;this.src='{{site.url}}{{site.baseurl}}/images/meta.jpg';"
                alt="Card image cap" />
            <!-- Card image -->
            <!-- Card content -->
            <div class="text-center card-body">
                <!-- Title -->
                <p class="card-title">
                    <h3>{{post.title | truncate: 50 | strip_html | strip_newlines | strip}}</h3>
                </p>
                <!-- Title -->
                <hr>
                <!-- Text -->
                <p class="card-text">{{post.content | truncate: 200 | strip_html | strip_newlines | strip }}</p>
                <!-- Use this to fetch content from post. {{post.content | truncate: 160 }} -->
                <!-- Text -->
                <!-- Card content -->
            </div>
        </div>
        <!-- Card -->
    </a>
    <br>
</div>




{% if forloop.index > 7  and forloop.index == {{ category[1].size }} %} 
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
</section>
{% endfor %}
