<!-- Go To Top-->
{% include gotop.html%}
<!-- Footer-->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center text-lg-left">
                <p class="social">
                    <a href="https://www.facebook.com/girish.godage.5" class="external facebook wow fadeInUp">
                        <i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/girishgodage_007" data-wow-delay="0.2s" class="external instagram wow fadeInUp">
                        <i class="fa fa-instagram"></i></a>
                    <a href="https://youtube.com/girishgodage" data-wow-delay="0.4s" class="external youtube wow fadeInUp">
                        <i class="fa fa-youtube-play"></i></a>
                    <a href="https://twitter.com/GGodage" data-wow-delay="0.4s" class="external twitter wow fadeInUp">
                            <i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/girishgodage" data-wow-delay="0.4s" class="external github wow fadeInUp">
                                <i class="fa fa-github"></i></a>    
                    <a href="mailto:girishgodage@gmail.com?subject=Hello%20Girish" data-wow-delay="0.6s" class="email wow fadeInUp">
                        <i class="fa fa-envelope"></i></a></p>
            </div>
            <div class="col-12 col-md-2">
            <h5>Quick Links</h5>
            <ul>
               <li><a href="#about">About</a></li>
               <li><a href="#contact">Contact</a></li>
               <li><a href="/sitemap.xml">Sitemap</a></li>               
            </ul>
         </div>
            <div class="col-12 col-md-4 text-center text-lg-right mt-4 mt-lg-0">
                <p> <b>©</b>2019 {{site.title}} </p>
                <p class="text-center, text-shadow"> Hosted On <a href="https://pages.github.com/">GitHub Pages</a></p>
            </div>
        </div>
    </div>
</footer>