<div class="container">
    <div class="row">
        {% for project in site.data.projects %}

        <div class="col-md-4 col-xs-6"
            id="project-card">
            <a href="{{project.link}}" target="_blank">
                <div class="card h-100">
                    <!-- <figure class="image is-3by1" style="background-image: url({{project.image}});">
                </figure> -->
                    <img class="card-img" height="240" src="{{project.image}}"
                        onError="this.onerror=null;this.src='{{site.url}}{{site.baseurl}}/images/meta.jpg';"
                        alt="Card image cap" />
                    <div class="text-center card-body">
                        <h3 class="card-title">{{ project.name }}</h3>
                        <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 85}}
                        </p>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</div>