<section id="references" class="bg-gradient services-section">
    <div class="container">
        <div class="col-sm-12">
            <div class="mb-5 text-center">
                <h2 data-animate="fadeInUp" class="title">My work</h2>
                <p data-animate="fadeInUp" class="lead">I have worked on dozens of projects so I have picked only the
                    latest for you.</p>
            </div>
            <ul id="filter" data-animate="fadeInUp">
                <li class="active"><a href="#" data-filter="all">All</a></li>
                <li><a href="#" data-filter="webdesign">Webdesign</a></li>
                <li><a href="#" data-filter="seo">SEO</a></li>
                <li><a href="#" data-filter="marketing">Marketing</a></li>
                <li><a href="#" data-filter="other">Other</a></li>
            </ul>
            <div id="detail">
                <div class="row">
                    <div class="col-lg-10 mx-auto"><span class="close">×</span>
                        <div id="detail-slider" class="owl-carousel owl-theme"></div>
                        <div class="text-center">
                            <h1 id="detail-title" class="title"></h1>
                        </div>
                        <div id="detail-content"></div>
                    </div>
                </div>
            </div>
            <!-- Reference detail-->
            <div id="references-masonry" data-animate="fadeInUp">
                <div class="row">
                    <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-1.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Tweeter Sentiment</h3>
                                        <p>Search for Tweets and download the data...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Search for Tweets and download the data labeled with it's Polarity in CSV format.
                                </p>
                                <p></p>
                                <p class="buttons text-center"><a href="https://tweeter-sentiment-csv.herokuapp.com/"   
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="https://github.com/girishgodage/tweet_generator" class="btn btn-outline-primary"><i
                                            class="fa fa-github"></i> View on Github</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="seo" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-2.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">MEAN EMP CRUD</h3>
                                        <p>MEAN Stack EMP CRUD application</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider3.jpg,img/main-slider1.jpg"
                                class="sr-only reference-description">
                                <p>MEAN- Mango,Express,Angular and Nodejs web Application demonstraing Simple CRUD(Create,Read,Update
                                   Delete) operation on Mongo database for the employees collecation.
                                </p>
                                <p></p>
                                <p class="buttons text-center"><a href="https://radiant-sands-72550.herokuapp.com/"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="https://github.com/girishgodage/MEANEmployeeCRUDApp" class="btn btn-outline-primary"><i
                                        class="fa fa-github"></i> View on Github</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="marketing" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-3.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Project name 3</h3>
                                        <p>Short project description goes here...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from
                                    long why cold. If must snug by upon sang loud left. As me do preference entreaties
                                    compliment motionless ye literature. Day behaviour explained law remainder. Produce
                                    can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
                                </p>
                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six
                                    depending objection happiness something the. Off nay impossible dispatched
                                    partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket
                                    narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on
                                    my earnestly by. Sex scale sir style truth ought.</p>
                                <p class="buttons text-center"><a href="javascript:void(0);"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-download"></i> Download case study</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="marketing" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-4.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Project name 4</h3>
                                        <p>Short project description goes here...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from
                                    long why cold. If must snug by upon sang loud left. As me do preference entreaties
                                    compliment motionless ye literature. Day behaviour explained law remainder. Produce
                                    can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
                                </p>
                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six
                                    depending objection happiness something the. Off nay impossible dispatched
                                    partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket
                                    narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on
                                    my earnestly by. Sex scale sir style truth ought.</p>
                                <p class="buttons text-center"><a href="javascript:void(0);"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-download"></i> Download case study</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-5.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Ecommerce Platform</h3>
                                        <p>MEAN stack Web Application
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <div class="row justify-content-center">    
                                    <div class="item"><img src="img/MEAN.png" alt="" class="img-fluid"></div>
                                </div>
                                <p>This project portrays a simple ecommerce platform designed from the MEAN 
                                    full stack aplication which is an e-commerce platform,it uses the API that handles 
                                    Management of the shop functionality. 
                                </p>
                                <p></p>
                                <p class="buttons text-center"><a href="https://oshop-girishg.herokuapp.com/"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="https://github.com/girishgodage/Organic-Shop" class="btn btn-outline-primary"><i
                                        class="fa fa-github"></i> View on Github</a></p>
                                        <div class="row justify-content-center">
                                            <div class="col-xs-12">
                                               <img src="img/angular.png" class="techlogo" width="100">
                                               <img src="img/node.png" class="techlogo" width="100">
                                               <img src="img/mongodb-logo.jpg" class="techlogo" width="100">
                                               <img src="img/heroku.png" class="techlogo" width="100">                                               
                                               <img src="img/Git-Logo.png" class="techlogo" width="100">
                                            </div>
                                         </div>        
                            </div>
                        </div>
                    </div>
                    <div data-category="other" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-6.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Project name 6</h3>
                                        <p>Short project description goes here...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from
                                    long why cold. If must snug by upon sang loud left. As me do preference entreaties
                                    compliment motionless ye literature. Day behaviour explained law remainder. Produce
                                    can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
                                </p>
                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six
                                    depending objection happiness something the. Off nay impossible dispatched
                                    partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket
                                    narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on
                                    my earnestly by. Sex scale sir style truth ought.</p>
                                <p class="buttons text-center"><a href="javascript:void(0);"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-download"></i> Download case study</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="seo" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-7.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Project name</h3>
                                        <p>Short project description goes here...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from
                                    long why cold. If must snug by upon sang loud left. As me do preference entreaties
                                    compliment motionless ye literature. Day behaviour explained law remainder. Produce
                                    can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
                                </p>
                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six
                                    depending objection happiness something the. Off nay impossible dispatched
                                    partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket
                                    narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on
                                    my earnestly by. Sex scale sir style truth ought.</p>
                                <p class="buttons text-center"><a href="javascript:void(0);"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-download"></i> Download case study</a></p>
                            </div>
                        </div>
                    </div>
                    <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
                        <div class="reference"><a href="#"><img src="img/portfolio-8.jpg" alt="" class="img-fluid">
                                <div class="overlay">
                                    <div class="inner">
                                        <h3 class="h4 reference-title">Project name</h3>
                                        <p>Short project description goes here...</p>
                                    </div>
                                </div>
                            </a>
                            <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                                class="sr-only reference-description">
                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from
                                    long why cold. If must snug by upon sang loud left. As me do preference entreaties
                                    compliment motionless ye literature. Day behaviour explained law remainder. Produce
                                    can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.
                                </p>
                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six
                                    depending objection happiness something the. Off nay impossible dispatched
                                    partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket
                                    narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on
                                    my earnestly by. Sex scale sir style truth ought.</p>
                                <p class="buttons text-center"><a href="javascript:void(0);"
                                        class="btn btn-outline-primary"><i class="fa fa-globe"></i> Visit website</a><a
                                        href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-download"></i> Download case study</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>