<!-- Service-->
<section id="services" class="bg-gradient services-section">
        <div class="container">
          <header class="text-center">
            <h2 data-animate="fadeInDown" class="title">Services</h2>
          </header>
          <div class="row services text-center">
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-search"></i></div>
              <h3 class="heading mb-3 text-400">Consulting</h3>
              <p class="text-left description">
                  Many businesses spend thousands of dollars on websites and Mobile apps only to find out 
                  later that their goals aren’t being met and their business hasn’t grown as expected.
                  I’ll help you identify the business goals behind your project and deliver a solution that not only looks great,
                  but helps your business grow beyond what you invest. through my consultancy services.</p>
            </div>            
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-code"></i></div>
              <h3 class="heading mb-3 text-400">App Development</h3>
              <p class="text-left description">Your Web app ,Mobile app or system is fundamental to the success of your business.
                  Whether it’s an internal software tool that empowers your employees to do their job effectively or
                  the platform your users engage with on a daily basis, your product can help your business grow toward 
                  success or decline into failure.A strategically designed product can save your employees hours of time each week by making tasks more efficient,
                   help your platform grow by engaging more users, or simplify tasks that make the users work easier and more intuitive.</p>
            </div>
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-wrench"></i></div>
              <h3 class="heading mb-3 text-400">Maintenance</h3>
              <p class="text-left description">We provides professional Software Maintenance & Support for our Custom Software Solutions as well as for most software systems and applications
                  developed by third parties. We have evolved a mature and well-defined application support and maintenance process that allows us to effectively 
                  and efficiently capture the application environment as well as the business activity.</p>
            </div>
          </div>
          <hr data-animate="fadeInUp">
          <div data-animate="fadeInUp" class="text-center">
            <p class="lead">Would you like to know more or just discuss something?</p>
            <p><a href="#contact" class="btn btn-outline-light link-scroll">Contact me</a></p>
          </div>
        </div>
      </section>