<!-- Service-->
<section id="skills" class="bg-gradient services-section">
    <div class="container">
        <header class="text-center">
            <h2 data-animate="fadeInLeft" class="title"><strong>Skills</strong></h2>
        </header>
        <div class="row services text-center">
            <div data-animate="fadeInUp" class="col-lg-4">
                <div> <i class="icon-python" style="font-size: 70px;"></i> </div>
                <h3 class="heading mb-3 text-400"> <strong>Python</strong></h3>
                <p class="text-left description">I'm a passionate python coder. I like to code on my free time. I have
                    created few repositories on github, which I made using Python language. One of them include a <a
                        href='https://tweeter-sentiment-csv.herokuapp.com/'>Twitter Setnitment to CSV </a>. I like to
                    code in a short and sweet way.</p>
            </div>
            <div data-animate="fadeInUp" class="col-lg-4">
                <div <i class="icon-angular" style="font-size: 70px;"> </i></div>
                <h3 class="heading mb-3 text-400">Angular</h3>
                <p class="text-left description">I developed websites with Angular and WebAPI(.net C#,java,Node). This
                    Website is made With HTML and CSS.</p>
            </div>
            <div data-animate="fadeInUp" class="col-lg-4">
                <div <i class="icon-splatter" style="font-size: 70px;"> </i></div>
                <h3 class="heading mb-3 text-400"> Designing</h3>
                <p class="text-left description">I am a Passionate Designing & thinking of Web and Mobile application
                    too. I Love to use my skills and experience to design and devloped application for various Industry.
                </p>
            </div>

        </div>
        <hr data-animate="fadeInUp">
    </div>
</section>